.nav-bar {
  display: grid;
  grid-template-columns: 1fr 6fr 4fr;
  padding: 2rem 15rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-bar img {
  width: 40%;
  margin-left: 5rem;
  margin-top: 5px;
  /* margin-right:5px; */
}

.nav-bar h1 {
  color: white;
  margin: 0rem 2rem;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;

}

.nav-bar ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 0.4fr;
  margin: 0rem 5rem;
}

.nav-bar li {
  margin-top: 0.5rem;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  transition-duration: 0.2s;
}

.nav-bar a:hover {
  background-color: white;
  /* padding: 0.6rem; */
  color: #291867;
  transition-duration: 0.2s;
}

@media (max-width: 600px) {
  .nav-bar a {
    text-decoration: underline;
  }
}

.a-special {
  text-decoration: none;
  color: white;
  transition-duration: 0.2s;
  border: 1px solid white;
  padding:8px;
}

.a-special:hover {
  background-color: white;
  padding: 0.7rem;
  color: #291867;
  transition-duration: 0.2s;
  transform: scale(0.10);
}

.inside-form {
  display: grid;
  margin: 2rem 6rem;
  margin-top: 4rem;
}

.inside-form .text-box {
  height: 3rem;
  outline: none;
  font-size: 17px;
}

.inside-form .text-box {
  padding: 1rem;
}

.inside-form .login-button {
  padding: 1rem;
  background-color: black;
  color: white;
  transition-duration: 0.2s;
}

.inside-form .login-button:hover {
  background-color: #291867;
  transition-duration: 0.2s;
  border: #291867 solid;
  transform: scale(0.95);
}

.form-div p {
  text-align: center;
}

.a-special {
  text-decoration: none;
  color: white;
  transition-duration: 0.2s;
}

.a-special:hover {
  background-color: white;
  padding: 0.7rem;
  color: #291867;
  transition-duration: 0.2s;
  transform: scale(0.15);
}

.error-box {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.error-style {
  display: block;
  margin: 10px 0px;
  margin-top: 0px;
  padding: 10px;
  background-color: #e28686;
  transition-duration: 0.3s;
}

.error-form-div {
  padding-top: 0rem;
  margin-top: 0rem;
  transition-duration: 0.3s;
}

.p_invisible {
  display: none;
  transition-duration: 0.3s;
}

.removeerrormsg {
  display: none;
  transition-duration: 0.3s;
}

@media (max-width: 60rem) {
  * {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: none;
  }
  body .full-screen {
    background-color: none;
  }
  body .full-screen .container {
    background-color: none;
    text-align: center;
    display: block;
    align-items: center;
    align-self: center;
  }
  body .full-screen .container .nav-bar {
    all: unset;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: block;
    margin: auto;
    align-items: center;
    align-self: center;
    display: block;
    text-align: center;
    align-items: center;
  }
  body .full-screen .container .nav-bar .logo {
    width: 20%;
    display: none;
    margin: auto;
  }
  body .full-screen .container .nav-bar .h1 {
    display: block;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

  }
  body .full-screen .container .nav-bar .nav-list {
    display: block;
    margin: auto;
    text-align: center;
    align-items: center;
    align-self: center;
  }
  body .full-screen .container .nav-bar .nav-list .li {
    text-align: center;
    align-items: center;
    margin-top: 20px;
  }
  body .full-screen .container .nav-bar .nav-list .li .a-text {
    text-align: center;
    align-items: center;
    margin: 20px;
  }
  body .full-screen .container .box-log-sign {
    background-color: none;
  }
  body .full-screen .container .box-log-sign * {
    background-color: none;
  }
  body .full-screen .container .box-log-sign #item1 {
    background: none;
    margin: 0rem;
    margin-bottom: 2rem;
    padding: 0rem;
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  body .full-screen .container .box-log-sign #item1 p {
    margin: 0rem;
    padding: 0rem;
  }
  body .full-screen .container .box-log-sign #item2 {
    background: none;
    display: block;
    margin: auto;
    padding: 0rem;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  body .full-screen .container .box-log-sign #item2 p {
    margin: 0rem;
    padding: 0rem;
  }
  body .full-screen .container .box-log-sign .inner-box-log-sign {
    background-color: none;
  }
  body .full-screen .container .box-log-sign .inner-box-log-sign .inner-box-log-sign-ul {
    background: none;
    display: block;
  }
  body .full-screen .container .box-log-sign .inner-box-log-sign .inner-box-log-sign-ul .inner-box-log-sign-ul-inner-div {
    background-color: none;
    margin: 0rem;
    padding: 0rem;
  }
}

* {
  background-color: none;
  margin: 0rem;
  padding: 0rem;
}

body {
  background-color: none;
  background-size: auto;
  background-color: #190e3e;
}

.login-form {
  background: none;
}

.inside-form {
  padding: 2rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
  vertical-align: center;
}

.inside-form .text-box {
  height: 3rem;
  outline: none;
}

.inside-form .submit-button {
  border: solid white 2px;
  padding: 1rem;
  background-color: black;
  color: white;
  transition-duration: 0.2s;
}

.inside-form .submit-button:hover {
  /* background-color: rgba(0, 0, 0, 0.3); */
  border-color: white;
  transition-duration: 0.2s;
  transform: scale(0.98);
}

.box-log-sign {
  width: 44.5%;
  margin: 0px auto;
}

.box-log-sign .inner-box-log-sign .inner-box-log-sign-ul {
  list-style-type: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: 0.5fr 0.5fr;
  width: 90%;
  margin: 0px auto;
}

.box-log-sign #item1 {
  color: white;
  background-color: rgba(41,24,103, 0.85);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  padding: 3rem;
  text-align: center;
  display: block;
  margin: auto;
}

.box-log-sign #item2 {
  color: white;
  background-color: rgba(41,24,103, 0.85);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  padding: 3rem;
  text-align: center;
  display: block;
  margin: auto;
}

.nav-bar a:hover {
  background-color: white;
  padding: 0.6rem;
  color: #291867;
  transition-duration: 0.2s;
  font-size: 90%;
}






family=Lato&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: Arial, Helvetica, sans-serif;

}
header{
  width: 100%;
  background-color: #291867;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: white;
  padding: 10px;
  font-size: 35px;
}
nav ul{
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;

}
.menu > li {
  display: inline-block;
  padding: 10px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;

}
.menu > li > a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 14px;
  font-family: Arial, Helvetica, sans-serif;

}
/* .menu li:hover{
  background-color: black;
  color: white;
} */
/*Submenu style*/


/*Animations*/
@keyframes slideup {
  0% {
    transform: translateY(18px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes slideleft {
  0% {
    transform: translateX(18px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.container img{
  width: 24px;
  margin: 10px;
  cursor: pointer;
}
.nav-l:hover{
  margin: 0px 0px;
  padding:10px 10px;
  color:#291867;
  background-color:white;
  transition-duration: 0.5s;
  /* font-size: 99%; */
}

header{
  margin: 0px 0px;
  position: fixed;
  top:0;
}

/* #nav-logo{
  width:50px;
  margin:10px;
} */
body{
  background:white;
}